<template>
<div class="container">
  <div class="crear_producto">
    <h2>Comprar Producto</h2>
    <br>
    <label for="text"> Comprador </label>
    <select class="form-control" id="id_buyer" v-model="id_buyer">
      <option v-for="usuario in allUsuarios" :value="usuario.id">{{
        usuario.name
      }}</option>
    </select>
    <br>
    <label for="categorias">Categoria</label>
    <select class="form" id="category" v-model="category">
      <option v-for="category in allCategory" :value="category.id">{{
        category.name
      }}</option>
    </select>
    <br>
    <label for="name_product">Producto</label>
    <input
      type="text"
      id="name_product"
      name="name_product"
      v-model="name_product"
      placeholder=" "
    />
    <br>
    <label for="precio">Precio</label>
    <input
      type="number"
      id="amount"
      name="amount"
      v-model="amount"
      placeholder=""
    />
    <br>
    <label for="description">Descripcion</label>
    <input
      type="texto"
      id="description"
      name="description"
      v-model="description"
      placeholder=""
    />
    <br>
    <label for="unit_messu">Estado Producto</label>
    <select class="form-control" id="availability" v-model="availability">
      <option value="true">Disponible</option>
      <option value="false">No Disponible</option>
    </select>
    
    <br>
    <br>
    <button v-on:click="createProduct">Agregar Producto</button>
    <br>
    <br>
    <button v-on:click="resetProduct"> Borrar Campos</button>
  </div>
</div>
</template>


<script>
import axios from "axios";
export default {
  name: "CreateProduct",
  data: function() {
    return {
      id: "",
      id_buyer: "",
      category: "",
      name_product:"",
      amount: "",
      description: "",
      availability: false,
      allUsuarios: [],
      allCategory: [],
    };
  },
  created: function() {
    debugger;
    this.id_buyer = localStorage.getItem("userId");
    this.username = this.$route.params.username;
    let self = this;
    this.allCategories = this.$route.params.allCategories;
    (this.units_mesusre = ["Units", "Liters", "Grams"]), this.getAllUsuarios();
    this.getAllCategory();
  },
  methods: {
    getAllUsuarios: async function() {
      axios
        .get(`https://super-tienda-be.herokuapp.com/users/`, { headers: {} })

        .then((result) => {
          debugger;
          this.allUsuarios = result.data;
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
    verifyToken: function() {
      return axios
        .post(
          "https://super-tienda-be.herokuapp.com/refresh/",
          { refresh: localStorage.getItem("token_refresh") },
          { headers: {} }
        )
        .then((result) => {
          localStorage.setItem("token_access", result.data.access);
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
    getAllCategory: async function() {
      axios
        .get(`https://super-tienda-be.herokuapp.com/productsCategory/`, { headers: {} })

        .then((result) => {
          this.allCategory = result.data;
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
    resetProduct: function() {
      debugger
      this.username = this.$route.params.username;
      this.id_buyer = ""
      this.category = ""
      this.name_product = ""
      this.amount = ""
      this.description = ""
      this.availability = false
    },
    createProduct: function() {
      debugger;
      let product = {
        id_buyer: parseInt(this.id_buyer),
        category: this.category,
        name_product : this.name_product,
        amount : this.amount,
        description : this.description,
        availability: this.availability,
      };
      this.verifyToken();
      axios
        .post("https://super-tienda-be.herokuapp.com/product/", product, {
          headers: { Authorization: `Bearer ${ localStorage.getItem("token_access")}` },
        })
        .then((result) => {
          debugger;
          if (result.status == 201) {
            alert("se ha creado correctamente el producto");
            this.resetProduct();
          } else {
            console.log(result);
            alert("hubo un error al crear el producto");
          }
        })
        .catch((error) => {
          if (error.response.status == "401")
            alert("ERROR 401: Credenciales Incorrectas.");
        });
    },
    verifyToken: function() {
      return axios
        .post(
          "https://super-tienda-be.herokuapp.com/refresh/",
          { refresh: localStorage.getItem("token_refresh") },
          { headers: {} }
        )
        .then((result) => {
          localStorage.setItem("token_access", result.data.access);
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
  },
};
</script>

<style>
*{box-sizing:border-box;}

.container{
  margin: 0;
  padding: 0%;
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .crear_producto{
border: 3px solid #283747;
border-radius: 10px;
width: 40%;
height: 90%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #f7df31;
margin-top: 30%;
margin-bottom: 30%;

}

.container h2 {
  font-family: "TrebuchetMS";
  font-weight:bold;
  color: #283747;
  }

.crear_producto label{
  font-family: "TrebuchetMS";
  width: 80%;
  font-weight:bold;
	display:inline-block;
}

.crear_producto select{
  width: 80%;
  padding:5px 12px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

.crear_producto input{
  width: 80%;
	padding:8px 16px;
	border:1px solid #283747;
	border-radius:5px;
	display:block;
	color:#283747;
	background-color:#f6f6f6;
}

.crear_producto button{
  width: 60%;
  height: 40px;
  color: #E5E7E9;
  background: #ef3f3f;
  border: 2px solid #283747;
  border-radius: 5px;
  text-align: center;
  margin-top: 0%;
  font-family: "TrebuchetMS";
  font-size: 19px;
}

.crear_producto button:hover{
  color: #E5E7E9;
  background: #283747;
  border: 1px solid #E5E7E9;
  cursor:pointer;
}



textarea{
	width:100%;
	height:20%;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
}
</style>
