<template>
  <div class="tabla">
    <h1>Pedidos</h1>
    <table class="table table-bordered table-hover">
      
      <thead>
        <tr>
          <th>id</th>
          <th>Comprador</th>
          <th>Categoria</th>
          <th>Producto</th>
          <th>Precio</th>
          <th>Descripcion</th> 
          <th>Disponibilidad</th>
          
        </tr>
      </thead>
      <tbody>
        <tr v-for="product in products">
          <th>{{product.id}}</th>

          <th>{{product.name_buyer}}</th>

          <td>{{product.category}}</td>

          <th>{{product.name_product}}</th>

          <td>{{product.amount}}</td>

          <td>{{product.description}}</td>

          <td>{{product.availability}}</td>

          
        

          <td>
            <button class="btn btn-danger" @click="deletePedido(product)"><i class="fa fa-trash"></i>Delete</button>
            <button class="btn" @click="editProduct(product)"><i class="fa fa-pencil"></i>UpDate</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div></div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "ViewProducts",

  data() {
    return {
      products: [],
      numberOfPedidos: 0,
    };
  },

  methods: {
    getAllProducts: async function() {
      axios
        .get(`https://super-tienda-be.herokuapp.com/products/`, { headers: {} })

        .then((result) => {
          debugger;
          this.products = result.data;
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
    verifyToken: function() {
      return axios
        .post(
          "https://super-tienda-be.herokuapp.com/refresh/",
          { refresh: localStorage.getItem("token_refresh") },
          { headers: {} }
        )
        .then((result) => {
          localStorage.setItem("token_access", result.data.access);
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
    deletePedido: function(product){
        axios
        .delete(`https://super-tienda-be.herokuapp.com/product/${product.id}/`, { headers: {} })

        .then((result) => {
          debugger;
          console.log(result)
          this.getAllProducts();
        })
        .catch(() => {
          this.$emit("logOut");
        });
    },
    editProduct: function(product){
        debugger
      let productSend ={
          id: product.id,
          id_buyer: product.id_buyer,
          name_buyer: product.name_buyer,
          amount: product.amount,
          id_category: product.id_category,
          category: product.category,
          description: product.description,
          availability: product.availability,
      }
      localStorage.setItem("ProductEdit",JSON.stringify(productSend))
      this.$router.push({ name: "EditProduct" });
     },
  },
  
  created: function() {
    this.getAllProducts();
  },
};
</script>

<style>


.tabla{
margin: 0;
padding: 0%;
height: 94%;
width: 100%;


}

.tabla h1 {
font-family: "TrebuchetMS";
font-weight:bold;
color: #283747;
width: 44%;
margin-left: 43%;
margin-top: 4%;
padding: 3%;
}


.table {
border: 3px solid #283747;
border-radius: 10px;
background-color: #f7df31;
width: 49%;
margin-left: 27%;
margin-top: 3%;
height: 27%;
padding: 1%
}

.table tbody button{
width: 90%;
margin: 1%;
color: #f5f5f5;
background: #ef3f3f;
border: 2px solid black;
border-radius: 5px;
font-family: "TrebuchetMS";
font-size: 14px;
}

.table tbody button:hover{
color: #E5E7E9;
background: #283747;
border: 2px solid #E5E7E9;
font-family: "TrebuchetMS";
}

</style>