<template>
  <div id="app" class="app">

    <div class="header">
      <img src= 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2bqMezyvUA5Tb7cz4DKAizuEbIhhx9pmigw&usqp=CAU' 
      alt="imágen de celular" width= "100" height = "100">
      <h1>TIENDAS ¡COMPRA YA!</h1>
 
      <nav>
        <button v-if="is_auth" v-on:click="loadHome">HOME</button>
        <button v-if="is_auth" v-on:click="loadProducts">PRODUCTOS</button>
        <button v-if="is_auth" v-on:click="loadCreateProduct"> AGREGAR </button>
        <button v-if="is_auth" v-on:click="viewProducts"> VER PRODUCTOS </button>
        <button v-if="is_auth" v-on:click="logOut">SALIR</button>
        <button v-if="!is_auth" v-on:click="loadLogIn" >INICIAR SESION</button>
        <button v-if="!is_auth" v-on:click="loadSignUp" >REGISTRARSE</button>
      </nav>       
    </div>

    <div class="main-component">
      <router-view
      
        v-on:completedLogIn="completedLogIn"
        v-on:completedSignUp="completedSignUp"
        v-on:logOut="logOut" >

      </router-view>
    </div>
          
    
    <div class="footer">
        <h2>Visita todas nuestras tiendas en el país!</h2>
    </div>
  </div>
</template>

<script>
import jwt_decode from "jwt-decode";
import axios from "axios"
export default {
  name: 'App',

  data: function(){
      return{
        is_auth: false
      }
  },

  components: {
  },

  methods:{
    verifyAuth: function() {
this.is_auth = localStorage.getItem("isAuth") || false;
if (this.is_auth == false)
this.$router.push({ name: "logIn" });
else
this.$router.push({ name: "home" });
},

    loadLogIn: function(){
      this.$router.push({name: "logIn"})
    },

    loadSignUp: function(){
      this.$router.push({name: "signUp"})
    },

   completedLogIn: function(data) {
     debugger
localStorage.setItem("isAuth", true);
localStorage.setItem("username", data.username);
localStorage.setItem("token_access", data.token_access);
localStorage.setItem("token_refresh", data.token_refresh);

if (
  localStorage.getItem("token_access") === null ||
  localStorage.getItem("token_refresh") === null
) {
  this.$emit("logOut");
  return;
}

let token = localStorage.getItem("token_access");
let userId = jwt_decode(token).user_id.toString();
localStorage.setItem("userId", userId);

alert("Autenticación Exitosa");
this.verifyAuth();
},

   completedSignUp: function(data) {
alert("Registro Exitoso");
this.completedLogIn(data);
},

loadHome: function() {
this.$router.push({ name: "home" });
},

loadProducts: function() {
this.$router.push({ name: "Products" });
},

loadCreateProduct: function(){
  this.$router.push({ name: "CreateProduct" });
},

viewProducts:function(){
  this.$router.push({ name: "ViewProducts" });
},

logOut: function () {
localStorage.clear();
alert("Sesión Cerrada");
this.verifyAuth();
},


  },

  created: function(){
    this.verifyAuth()
  }

}
</script>


<style>

body{
    margin: 0 0 0 0;
}

.header{
    margin: 0%;
    padding: 0;
    width: 100%;
    height: 12vh;
    min-height: 100px;
    background-color: #f7df31 ;
    color:#1d1d1b ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    
    text-align: center;
    font-family: "TrebuchetMS";
    color: #283747;
    font-size: 30px;
}

#menu{
    float: right;
    height: 70px;
    background-color: transparent;
}

#menu ul li {
    font-size: 24px;
    display: inline-block;
    margin: 0px 20px 0px 20px;
    letter-spacing: 1px;
}

.header nav{
  width: 46%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 47px;
  margin-inline: 4%;
 
}


.header nav button{
  color: #f5f5f5;
  background: #ef3f3f;
  border: 2px solid black;
  border-radius: 5px;
  padding: 7px 13px;
  font-family: "TrebuchetMS";
  font-size: 14px;
}

.header nav button:hover{
color: #E5E7E9;
background: #283747;
border: 2px solid #E5E7E9;
font-family: "TrebuchetMS";
}

.main-component{
  height: 160vh;
  margin: 4%;
  padding: 0%;
  background: #f5f5f5;
}

.footer{
margin:0;
padding:0;
width: 100%;
height: 10vh;
min-height: 100px;
background-color: #ef3f3f;
color: white;
}

.footer h2{
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
</style>